.login-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
  margin: auto;
  margin-top: 3rem;
}

.login-list .id-login-wrap {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login-list .id-login-wrap .find-wrap {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.login-list .id-login-wrap .find-wrap .blank {
  flex: 1;
}

.login-list .id-login-wrap .find-wrap span {
  padding-left: 0.7rem;
  color: #575757;
  cursor: pointer;
}

.login-list .id-login-wrap .button-wrap {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.login-list .social-login-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.login-list .social-login-title {
  font-size: 1.4rem;
  color: #575757;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-list .social-login-title > div {
  height: 1px;
  background-color: #efefef;
  flex: 1;
  margin: 2rem 0;
}

.login-list .social-login-title > span {
  padding: 0 1rem;
}

/* 아이디, 비밀번호 */
.login-list .id-login-wrap > div {
  display: flex;
  flex-direction: column;
}

.login-list .id-login-wrap input {
  padding: 1.5rem 2rem;
}

.login-list .id-login-wrap input:nth-child(1) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-list .id-login-wrap input:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

/* 로그인 버튼*/
.login-list button {
  height: 4.6rem;
  border-radius: 6px;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.login-list .id-login-wrap button.login {
  background-color: #fa96a0;
  color: #ffffff;
}

.login-list .id-login-wrap button.join {
  border: 1px solid #fa96a0;
  background-color: #ffffff;
  color: #f0737f;
}
