.login-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.login-list button {
  width: 20rem;
  margin: auto;
}

.login-list .kakao-login {
  border: none;
  background: none;
}
