.login-list .naver-login {
  background-color: #03a94d;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  border: none;
}

.login-list .naver-login svg {
  width: 1.5rem;
}

.login-list .naver-login div {
  flex: 1;
  color: #ffffff;
}

.login-list .naver-login:not(:disabled):hover {
  -webkit-box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
